[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-filter = "*"
django-debug-toolbar = "*"
drf-spectacular = "*"
psycopg2-binary = "*"

[dev-packages]
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.13"
